StockCentralDeskTop/StockCentralDeskTop/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49851/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49851/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49851/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceCentralStock" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Select_Comming_Phones_InputMessage">
    <wsdl:part name="parameters" element="tns:Select_Comming_Phones" />
  </wsdl:message>
  <wsdl:message name="IService1_Select_Comming_Phones_OutputMessage">
    <wsdl:part name="parameters" element="tns:Select_Comming_PhonesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Select_Comming_Phones_one_InputMessage">
    <wsdl:part name="parameters" element="tns:Select_Comming_Phones_one" />
  </wsdl:message>
  <wsdl:message name="IService1_Select_Comming_Phones_one_OutputMessage">
    <wsdl:part name="parameters" element="tns:Select_Comming_Phones_oneResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Insert_Comming_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert_Comming" />
  </wsdl:message>
  <wsdl:message name="IService1_Insert_Comming_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insert_CommingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Update_Comming_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_Comming" />
  </wsdl:message>
  <wsdl:message name="IService1_Update_Comming_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_CommingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Delete_Comming_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete_Comming" />
  </wsdl:message>
  <wsdl:message name="IService1_Delete_Comming_OutputMessage">
    <wsdl:part name="parameters" element="tns:Delete_CommingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Update_Sending_InputMessage">
    <wsdl:part name="parameters" element="tns:Update_Sending" />
  </wsdl:message>
  <wsdl:message name="IService1_Update_Sending_OutputMessage">
    <wsdl:part name="parameters" element="tns:Update_SendingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Select_AdressesShops_InputMessage">
    <wsdl:part name="parameters" element="tns:Select_AdressesShops" />
  </wsdl:message>
  <wsdl:message name="IService1_Select_AdressesShops_OutputMessage">
    <wsdl:part name="parameters" element="tns:Select_AdressesShopsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Insert_SendingPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert_SendingPhone" />
  </wsdl:message>
  <wsdl:message name="IService1_Insert_SendingPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insert_SendingPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Select_Sending_InputMessage">
    <wsdl:part name="parameters" element="tns:Select_Sending" />
  </wsdl:message>
  <wsdl:message name="IService1_Select_Sending_OutputMessage">
    <wsdl:part name="parameters" element="tns:Select_SendingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Insert_AddressNew_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert_AddressNew" />
  </wsdl:message>
  <wsdl:message name="IService1_Insert_AddressNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insert_AddressNewResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select_Comming_Phones">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Select_Comming_Phones" message="tns:IService1_Select_Comming_Phones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Select_Comming_PhonesResponse" message="tns:IService1_Select_Comming_Phones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select_Comming_Phones_one">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Select_Comming_Phones_one" message="tns:IService1_Select_Comming_Phones_one_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Select_Comming_Phones_oneResponse" message="tns:IService1_Select_Comming_Phones_one_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert_Comming">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Insert_Comming" message="tns:IService1_Insert_Comming_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Insert_CommingResponse" message="tns:IService1_Insert_Comming_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_Comming">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Update_Comming" message="tns:IService1_Update_Comming_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Update_CommingResponse" message="tns:IService1_Update_Comming_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete_Comming">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Delete_Comming" message="tns:IService1_Delete_Comming_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Delete_CommingResponse" message="tns:IService1_Delete_Comming_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update_Sending">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Update_Sending" message="tns:IService1_Update_Sending_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Update_SendingResponse" message="tns:IService1_Update_Sending_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select_AdressesShops">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Select_AdressesShops" message="tns:IService1_Select_AdressesShops_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Select_AdressesShopsResponse" message="tns:IService1_Select_AdressesShops_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert_SendingPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Insert_SendingPhone" message="tns:IService1_Insert_SendingPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Insert_SendingPhoneResponse" message="tns:IService1_Insert_SendingPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select_Sending">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Select_Sending" message="tns:IService1_Select_Sending_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Select_SendingResponse" message="tns:IService1_Select_Sending_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert_AddressNew">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Insert_AddressNew" message="tns:IService1_Insert_AddressNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Insert_AddressNewResponse" message="tns:IService1_Insert_AddressNew_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_Comming_Phones">
      <soap:operation soapAction="http://tempuri.org/IService1/Select_Comming_Phones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_Comming_Phones_one">
      <soap:operation soapAction="http://tempuri.org/IService1/Select_Comming_Phones_one" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert_Comming">
      <soap:operation soapAction="http://tempuri.org/IService1/Insert_Comming" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Comming">
      <soap:operation soapAction="http://tempuri.org/IService1/Update_Comming" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Comming">
      <soap:operation soapAction="http://tempuri.org/IService1/Delete_Comming" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update_Sending">
      <soap:operation soapAction="http://tempuri.org/IService1/Update_Sending" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_AdressesShops">
      <soap:operation soapAction="http://tempuri.org/IService1/Select_AdressesShops" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert_SendingPhone">
      <soap:operation soapAction="http://tempuri.org/IService1/Insert_SendingPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Select_Sending">
      <soap:operation soapAction="http://tempuri.org/IService1/Select_Sending" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert_AddressNew">
      <soap:operation soapAction="http://tempuri.org/IService1/Insert_AddressNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:49851/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>