DriversMobileApp/DriversMobileApp/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49851/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceCentralStock" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_Comming_Phones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_Comming_PhonesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceCentralStock" minOccurs="0" name="Select_Comming_PhonesResult" nillable="true" type="q1:ArrayOfCommingUp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_Comming_Phones_one">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VonderCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_Comming_Phones_oneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceCentralStock" minOccurs="0" name="Select_Comming_Phones_oneResult" nillable="true" type="q2:ArrayOfCommingUp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_Comming">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceCentralStock" minOccurs="0" name="r" nillable="true" type="q3:CommingUp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_CommingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Comming">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VonderCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NameFirm" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceCentralStock" minOccurs="0" name="r" nillable="true" type="q4:CommingUp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_CommingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Comming">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VonderCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_CommingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Sending">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VonderCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceCentralStock" minOccurs="0" name="s" nillable="true" type="q5:Sending" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_SendingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_AdressesShops">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_AdressesShopsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiceCentralStock" minOccurs="0" name="Select_AdressesShopsResult" nillable="true" type="q6:ArrayOfAdressesShops" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_SendingPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServiceCentralStock" minOccurs="0" name="s" nillable="true" type="q7:Sending" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_SendingPhoneResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_Sending">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Select_SendingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServiceCentralStock" minOccurs="0" name="Select_SendingResult" nillable="true" type="q8:ArrayOfSending" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_AddressNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServiceCentralStock" minOccurs="0" name="r" nillable="true" type="q9:AdressesShops" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_AddressNewResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServiceCentralStock" minOccurs="0" name="composite" nillable="true" type="q10:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ServiceCentralStock" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q11:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>