DriversMobileApp/DriversMobileApp/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceCentralStock" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceCentralStock" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCommingUp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommingUp" nillable="true" type="tns:CommingUp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommingUp" nillable="true" type="tns:ArrayOfCommingUp" />
  <xs:complexType name="CommingUp">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DMY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InStock" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameFirm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameModel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VonderCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommingUp" nillable="true" type="tns:CommingUp" />
  <xs:complexType name="Sending">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Count" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Dolgota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NameFirm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameModel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Shirota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeOfSend" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VonderCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sending" nillable="true" type="tns:Sending" />
  <xs:complexType name="ArrayOfAdressesShops">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdressesShops" nillable="true" type="tns:AdressesShops" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdressesShops" nillable="true" type="tns:ArrayOfAdressesShops" />
  <xs:complexType name="AdressesShops">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dolgota" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Shirota" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdressesShops" nillable="true" type="tns:AdressesShops" />
  <xs:complexType name="ArrayOfSending">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sending" nillable="true" type="tns:Sending" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSending" nillable="true" type="tns:ArrayOfSending" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>